.users,
.messages,
.say {
    border: 1px solid #ddd;
}

.users {
    border-right-color: #fff;
}

.user {
    display: block;
    padding: 10px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.messages {
    border-bottom: none;
}

.messages > div {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.messages > div p {
    background: #eeeeee;
    padding: 5px;
}

.messages > .sent {
    margin-right: 14px;
}

.messages > .received {
    margin-left: 14px;
}

.messages > div p:before {
    width: 0;
    height: 0;
    border-bottom: 18px solid transparent;
    position: absolute;
    content: " ";
    margin-top: -5px;
}

.messages > .sent p:before {
    border-left: 14px solid #eee;
    right: 15px;
}

.messages > .received p:before {
    border-right: 14px solid #eee;
    left: 15px;
}

.say {
    border-top: none;
}

.form-control,
.btn {
    border-radius: 0;
}
