.users,
.messages,
.say {
    border: 1px solid #ddd;
}

.users {
    border-right-color: #fff;
}

.user {
    display: block;
    padding: 10px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.messages {
    border-bottom: none;
}

.messages > div {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.messages > div p {
    background: #eeeeee;
    padding: 5px;
}

.messages > .sent {
    margin-left: 20px;
}

.messages > .received {
    margin-right: 20px;
}

.say {
    border-top: none;
}

.form-control,
.btn {
    border-radius: 0;
}
